/* .work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
 
  } */

*{
    font-family: inter;
}
.head-text{
   text-align: center;
   padding: 88px 0px;
    
    
}
/* celebration style */
#celebration{
    height: 600px;
    width: 1320px;
    margin: 50px 150px;
   
    border-radius: 16px;
    /* background-image: url("../media/images/Banner\ Image.png"); */
    background: linear-gradient(0.00deg, rgba(14, 14, 14, 0) 2.884%,  rgb(92, 87, 87)  101.034%), url("../media/images/Banner\ Image.png");
   

}
.title{
    font-weight: bold;
    font-size: 72px;
}
.sub{
    font-weight: 400px;
    font-size: 48px;
}
.color-red{
    color: red;
}
    
.color-white{
    color: white;
}

.st-text{
    font-size: 20px;
    font-weight: 400px;
    color: #8b8892;
}
.text-24{
    font-size: 24px;
    font-weight: 400px;
}

/* categorise style */

#categorise{
    height: 806px;
    width: 802px;
    margin: 50px 400px;
    text-align: center;
    background-image: url("../media/images/New\ Year\ Photo.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

/* party style */
.party{
    height: 600px;
    width: 1320px;
    margin: 50px 150px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: linear-gradient(0.00deg, rgb(9, 9, 9) 2.884%,rgba(16, 16, 16, 0) 101.034%), url("../media/images/Vectorrr.png");
}

.party-text{
    padding-left: 126px; }
    .party-image{
         padding-right: 138px; 

    }
.party-sub{
    font-size: 18px;
}
.party-just{
    font-weight: bold;
    font-size: 20px;
}

#join-now{
    height: 600px;
    width: 1320px;
    margin: 50px 150px;
    border-radius: 16px;
    padding-top: 100px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    text-align: center;
    font-size: 32px;
    font-weight: 600px ;
    background-color: #debbbb;
    background: linear-gradient(0.00deg, #debbbb00, #e19999  );
     
}
.btn{
    background-color: red;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    margin-top: 48px;
    
}
.btn :hover{
    background-color: red;
    padding: 20px 35px;
    border-radius: 8px;
    border: none;
}

/* coming style */

#coming{
    height: 600px;
    width: 1320px;
    /* margin: 50px ; */
    margin-right: 150px;
    margin-top: 50px;
    border-radius: 16px;
    /* padding-top: 100px; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    
}
.new{
     margin-left: 150px;
     

}
.comming-image{
    margin-right: 118px ;
    margin-left: 70px;
    border: 20px solid red;
    border-radius: 50%;
    padding: 50px;
}

/* holidays style */

#holidays{
    height: 985px;
    width: 1320px;
    margin: 50px 140px;
    
    border-radius: 16px;
    /* padding-top: 100px; */
    text-align: center;
    /* display: flex;
    align-items: center; */
    /* justify-content: space-between; */
    background-image: url("../media/images/Rectangle\ 2.png");
    background-position: bottom;
    background-repeat: no-repeat;
}
.grp-image{
    display: flex;
    justify-content: space-between;
}

 .grp-44{
    height: 305px;
    width: 305px;
    /* margin-left: 975px; */
    margin-right: 40px;
    margin-top: 141px;
    margin-bottom: 280px;
    /* padding-bottom: 280px; */
}
.grp-75{
    width: 675px;
    height: 577px;
     margin-top: 64px; 
     margin-left: 60px; 
} 

/* awesome style */
#aewsome{
    height: 1163px;
    width: 1320px;
    margin: 60px 140px;
    text-align: start;
}
.pic{
    height: 450px;
    height: 424px;
    border-radius: 16px;
    margin: 12px;
}

/* subscribe style */
#subscribe{
    height: 616px;
    width: 1320px;
    border-radius: 16px;
    margin: 40px 140px;
   text-align: center;
   padding-top: 80px ;
   /* background-color: #df8d8d; */
   background: linear-gradient(0.00deg, #ffafaf9d, #ffafaf9d);
   
}
/* .center{
    height: 336px;
    width: 896px;
    
} */
.input-btn{
    /* border: 1px solid aqua; */
    /* border-radius: 50%; */
    /* height: 72px; */
    gap: 0;
   display: flex;
   padding-left: 260px;
   /* flex-direction: column; */
   text-align: center;
 
}

 .input{
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* height: 72px; */

    
    /* height: 72px; */
    padding-top: 29px ;
    padding-bottom: 18px ;
    padding-left: 30px;
    padding-right: 400px;
    margin-right: 0;


 }
 .ibtn{
    border: 1px solid white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
font-size: 20px;
margin-left: 0;
    /* height: 72px; */
    padding: 24px 56px;
    background-color: red;
 }

 /*  footer style */
 #footer{
    width: 100%;
    height: 609px;
    color: white;
    background-color: #070211;
 }

 .www{
/* background-color: red; */

    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 80%;
    align-items:first baseline ;
    margin: 0 auto;
    padding-top: 120px;
    /* 
    margin-left: 140px;
    margin-right: 275px;
    margin-bottom: 50px;
    border-bottom: 2px solid white; */

 }

